version: '3'
volumes:
    data:
services:
    web:
        build: .
        platform: linux/amd64
        ports:
            - '3000:3000'
        volumes:
            - '.:/RailsMySQL'
        tty: true
        stdin_open: true
        environment:
            - 'DATABASE_PASSWORD=password'
        depends_on:
            - db
        links:
            - db
    db:
        image: mysql:5.7
        platform: linux/amd64
        ports:
            - '3306:3306'
        volumes:
            - 'data:/var/lib/mysql'
        environment:
            MYSQL_ROOT_PASSWORD: password